@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    border: 5px solid #fff; /* Light grey */
    border-top: 5px solid #444; /* Blue */
    border-radius: 50%;
    width: 35px !important;
    height: 35px !important;
    animation: spinner 2s linear infinite;
  }

  .spinner-container {
    margin: 20px 0px;
  }